.loginBox {
	width: 18.5em;
	display: flex;
	flex-direction: column;

  justify-self: center;
  align-self: center;

  overflow: hidden;
  padding: 0 .1em;
}

.loginBtnContainer {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
}

.moduleBtn {
	margin: .15em;
	outline: none;
	border: none;
	border-radius: .75em;
	background-color: #615a4f12;
	box-shadow: inset 0 0 7px -2px var(--bucket-brown);
}

.moduleBtn:hover {
	box-shadow: inset 0 0 7px -2px lightgreen;
}

.loginInput {
	margin: .15em;
	border: none;
	background-color: #615a4f12;
	border-radius: .75em;
}

.credentialsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.active {
	transform: translateY();
	transition: all 1s ease;
}

.inactive {
	transform: translateY(-10em);
	transition: all 1s ease;
}

.submitBtn {

}