.login_box {
	width: 18em;
	/*min-width: 5em;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid red;
	/*height: 8.5em;*/

  justify-self: right;
  align-self: center;
}

@media (max-width: 825px) {
	.login_box {
		
  justify-self: center;
  align-self: center;
	}

}