.login_box {
	width: 18em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid red;

  justify-self: center;
  align-self: center;
}

.login_box {
	
}

.login_text {
	
}

.inactive {
	display: none;
}
