.App_container {
	display: grid;
	grid-template-rows:
		[header] 12.5em
		[main] 1fr
		[footer] 15em;
}

/* media queries */
@media (max-width: 825px) {
	.App_container {
		grid-template-rows:
			[header] 20em
			[main] 1fr
			[footer] 15em;
	}
}


