.commits_presenter {
	border: 1px solid red;
	
	width: 95%;
	margin: 0 auto;
}



.branch_name_tab {

}

.commit_card {

}

.commit_time_stamp {
	height: 1.5em;
	
}

.commit_message {

}

.commits_by_branch_list {

}