.git_hub_widget_container {
	grid-row: 3 / 4;
	margin: auto;

	display: grid;
	grid-template-rows: 1fr 4fr;

	width: 70%;
	height: 18em;
	background-color: gold;
	border: .1em solid black;
	padding-bottom: .1em;
}

.widget_title {
	grid-row: 1;
	
	font-size: 1.5em;
	border-bottom: .1em solid black;
	height: 100%;
	width: 95%;
	margin: 0 auto 1.25em auto;
	padding-bottom: .25em;
}

.commits_presenter_container {
	grid-row: 2 / 4;

	height: 100%;
	overflow: scroll;
}

.commits_print {
	width: 95%;
	margin: 0 auto;
}

.commits_presenter {
	display: grid;
	grid-template-columns: 1fr 9fr;

	font-size: 1em;
	width: 100%;
	margin: .5em auto;
	padding: .5em;
	border-radius: .2em;
}

.branch_name {
	/*border-right: 1px solid black;*/
	padding-right: .2em;
}

.commit_details {
	font-size: 1.2em;
	margin: 0 .25em .1em .75em;
}

.commit_time_stamp {
	height: 1.5em;

}

.commit_message {
	/*border: 1px solid red;*/
}

.git_hub_repo_link {
	grid-row: 5 / 6;

	border: none;
	background: transparent;
	width: 20em;
	font-size: 1.5em;
	text-align: center;
	margin: auto;
}

.crypto_coin_address_container {
	grid-row: 6 / 7;

	display: grid;
	grid-template-rows: 1fr 1fr;
	width: 40em;
	margin: 2em auto;
} 



.is_loading {
	grid-row: 4 / 5;
	width: 20em;
	margin: auto;
}