.github_widget_container {
	display: grid;
	grid-template-rows: 1fr 3fr;

	width: 80%;
	height: 20em;
	background-color: gold;
	border: .1em solid black;
	padding-bottom: .1em;
	box-shadow: inset 0 0 0.5em 0.1em black;
	margin: auto;
}

.widget_title {
	grid-row: 1;

	font-size: 2em;
	border-bottom: .1em solid black;
	text-align: center;
	line-height: 1.5em;
	width: 95%;
	margin: auto;
}

.is_loading {
	width: 20em;
	margin: auto;
}