.crypto_coin_address {
	font-size: 1em;
	text-align: center;
}

.pop_up_barrier {
	position: absolute;
		top: 0;
		left: 0;
		z-index: 9998;

		width: 100vw;
		height: 100vh;
}

.puc_container {
	font-family: 'Jura', sans-serif;

	position: absolute;
		top: 3em;
		right: 3em;
		bottom: 3em;
		left: 3em;
		z-index: 9999;

	height: 90%;
	width: 90%;
	margin: auto;

	box-shadow: 0px 0 6px 2px black;
	background-color: #ffd600e0;

	display: grid;
	grid-template-rows: repeat(10, 1fr);
}

.close_module_btn {
	position: absolute;
		top: 1em;
		right: 1.25em;
	box-shadow: 0px 0 .15em .075em black;
	border: .1em solid black;
	background-color: #fff;
}

.statement_box {
	grid-row: 2;
	margin: auto;
	width: 75%;
	font-size: 3em;
	text-align: center;
}

.git_hub_repo_link {
	grid-row: 5 / 6;

	border: none;
	background: transparent;
	width: 20em;
	font-size: 1.5em;
	text-align: center;
	margin: auto;
}

.crypto_coin_address_container {
	grid-row: 6 / 7;

	display: grid;
	grid-template-rows: 1fr 1fr;
	width: 40em;
	margin: 2em auto;
}

