.popUpBarrier {
	position: absolute;
		top: 0;
		left: 0;
		z-index: 9998;

		width: 100vw;
		height: 100vh;
}

.pucContainer {
	font-family: 'Jura', sans-serif;

	position: absolute;
		top: 3em;
		right: 3em;
		bottom: 3em;
		left: 3em;
		z-index: 9999;

	height: 90%;
	width: 90%;
	margin: auto;

	box-shadow: 0px 0 6px 2px black;
	background-color: #ffd600e0;

	display: grid;
	grid-template-rows: repeat(5, 1fr);
}

.popUpInactive {
	display: none;
}

.closeModuleBtn {
	position: absolute;
		top: 1em;
		right: 1.25em;
	box-shadow: 0px 0 .15em .075em black;
	border: .1em solid black;
	background-color: #fff;
}

.statementBox {
	grid-row: 2;
	margin: auto;
	width: 75%;
	font-size: 3em;
	text-align: center;
}


