/* justify-* is row axis */
/* align-* is column axis */

.header_container {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
}

.business_logo {
	grid-column: 1;

	height: 95%;
	margin: auto;
}

.business_name {
	grid-row: 1;
	grid-column: 2;

	margin: auto;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	color: var(--bucket-brown);
}

.the-b {

}

.un {
	color: #615a4f07;
}

.hamburger_menu {
	grid-column: 3;

	height: 95%;
	margin: auto;
}

.login_module_container {
	grid-column: 3;

	position: absolute;
		top: 6em;
		right: 0;
	overflow-y: hidden;
	width: 100%;
	height: 20em;
}

/*__SLIDE__EFFECTS__*/
.login_box_shiftRight {
	transform: translateX(100%);
	transition: all 1.25s ease;
}

.login_box_shiftLeft {
	transform: translateX();
	transition: all 1.25s ease;
}