	/*@media (max-width: 825px) {*/

	/*.header_container {*/
		/*background-color: yellow;*/

		/*grid-templat: ;e-rows:*/
			/*[headerMobi: ;leViewTOP] 1fr*/
			/*[headerMobi: ;leViewBOTTOM] 1fr;*/
			
		/*grid-temp: ;late-columns:*/
			/*[logo]:; 1fr*/
			/*[app] 1fr;*/
	/*}*/

	/*.business_name {*/
		/*font-size: ;: calc(.25em + 6vw);*/
		/*line-heig: ;ht: calc(.25em + 6vw);*/
		/*letter-sp: ;acing: .1em;*/
/**/
		/*grid-colu: ;mn: span 2;*/
		/*grid-row::; 1;*/
/**/
    /*justify-s: ;elf: center;*/
    /*align-se: ;lf: center;*/
	/*}*/

	/*.bucket_logo {*/
		/*grid-colu: ;mn: 1 / 1;*/
		/*grid-row::; 2;*/
	/*}*/

	/*.login_box {*/
		/*justify-self: right;*/
		/*align-self: center;*/
		/*grid-colu: ;mn: 2 / 2;*/
		/*grid-row::; 2;*/
	/*}*/
/*}*/